<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/checkin.css">
    <link rel="stylesheet" href="/css/timelist.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container">
                <%if(timelist){%>
                    <div>
                        <h2>Thông tin giờ làm</h2>
                    </div>
                    <div>
                        <%if(timesheet){%>
                            <p>
                                Ngày: <%= date%>
                            </p>
                            <p>
                                Thời gian bắt đầu: <%= currentWorkSheet.startWork%>
                            </p>
                            <p>
                                Thời gian kết thúc: <%= currentWorkSheet.endWork%>
                            </p>
                            <p>
                                Nơi làm việc: <%= currentWorkSheet.workPlace %>
                            </p>
                            <%if(currentWorkSheet.workTime){%>
                                <p class="time">
                                    Số giờ đã làm: <%= covertTimeFunction(currentWorkSheet.workTime) %>
                                </p>
                                <%}else{%>
                                    <p class="time">
                                        Số giờ đã làm: Chưa kết thúc
                                    </p>
                                    <%}%>

                                        <%if(absent.length !==0){%>
                                            <p class="time">
                                                Các ngày đã nghỉ: <% absent.forEach(function(items){ %>
                                                    <% items.date.forEach(function(item){%>
                                                        <p>
                                                            <%=item.day%>
                                                        </p>
                                                        <%})%>
                                                            <%})%>
                                            </p>
                                            <%}else{%>
                                                <p class="time">
                                                    Các ngày đã nghỉ: Chưa đăng ký ngày nghỉ phép

                                                </p>
                                                <%}%>
                                                    <%if(timesheet.totalTimeInDay>= 28800 ){%>
                                                        <p>
                                                            Số giờ làm trong ngày: <%=
                                                                covertTimeFunction(timesheet.totalTimeInDay)%>
                                                        </p>
                                                        <%}%>
                                                            <%if(timesheet.overTimeInDay !==0 ){%>
                                                                <p>
                                                                    Số giờ làm thêm: <%=
                                                                        covertTimeFunction(timesheet.overTimeInDay)%>
                                                                </p>
                                                                <%}%>
                                                                    <%}%>
                    </div>

                    <div id="showSalary">

                        <form action="/timelist" method="POST">
                            <label for="select">Xem thông tin lương theo tháng: </label>
                            <select name="selectMonth" id="selectMonth">
                                <option> Tháng</option>
                                <option value="1">Tháng 1</option>
                                <option value="2">Tháng 2</option>
                                <option value="3">Tháng 3</option>
                                <option value="4">Tháng 4</option>
                                <option value="5">Tháng 5</option>
                                <option value="6">Tháng 6</option>
                                <option value="7">Tháng 7</option>
                                <option value="8">Tháng 8</option>
                                <option value="9">Tháng 9</option>
                                <option value="10">Tháng 10</option>
                                <option value="11">Tháng 11</option>
                                <option value="12">Tháng 12</option>
                            </select>
                            <button class="btn">Xem</button>
                        </form>

                        <div id="salary">
                            <h2>Thông tin bảng lương</h2>

                            <table>
                                <tr>
                                    <td>Hệ số lương</td>
                                    <td>Số giờ làm thêm</td>
                                    <td>Số giờ bị thiếu</td>
                                    <td>Tiền lương</td>
                                </tr>
                                <tr>
                                    <%if(salaryScale !=null){%>
                                        <td>
                                            <%= salaryScale%>
                                        </td>
                                        <%}%>
                                            <%if(calTotalOverTimeInMonth!= null){%>
                                                <<td>
                                                    <%= covertTimeFunction(calTotalOverTimeInMonth)%>
                                                        </td>
                                                        <%}%>
                                                            <%if(missingTime!= null){%>
                                                                <<td>
                                                                    <%= covertTimeFunction(missingTime)%>
                                                                        </td>
                                                                        <%}%>
                                                                            <%if(salary!= null){%>
                                                                                <<td>
                                                                                    <%= salary%>
                                                                                        </td>
                                                                                        <%}%>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <%}else{%>
                        <p>Bạn chưa đăng ký điểm danh </p>
                        <%}%>
            </div>

            <%- include('../includes/end.ejs') %>